<div class="px-2">
      <div class="card" style="width: 25rem; height: 45rem;">
                  
            <div class="card-header">
                  <h5>Kurssitarjonta</h5>
                  <form class="form-inline my-2 my-lg-0" method="GET">
                        <input class="form-control mr-sm-2" type="search" name="name_q" placeholder=Etsi aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Etsi</button>
                  </form>
                  {% if haku != None %}
                  <br>
                  <p>Hakusanalla "{{haku}}" löytyi {{tuloksia}} hakutulosta.</p>
                  {% endif %}
            </div>
            <ul class="list-group list-group-flush" style="overflow:hidden; overflow-y:scroll;">                  
                  {% for kurssi in kurssit %}
                  <li class="list-group-item p-2">
                        <form action="add" method="post">
                              {% csrf_token %}
                              <div class="form-goup">
                                    <button class="btn btn-outline-success align-middle mr-2" name="add" value={{kurssi.tunniste}}>+</button> 
                                    <label class="align-middle pt-1" style="width: 18rem">{{kurssi.nimi}}</label>
                              </div>
                        </form>
                  </li>
                  {% endfor %}
            </ul>
      </div>
</div>