

<div class="px-2">
      <div class="card" style="width: 25rem; height: 45rem;">
                  
            <div class="card-header">
                  <h5>Kurssitarjonta</h5>
                  <form class="form-inline my-2 my-lg-0" method="GET">
                        <input class="form-control mr-sm-2" type="search" placeholder="Etsi" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Etsi</button>
                  </form>
            </div>

            <ul class="list-group list-group-flush" style="overflow:hidden; overflow-y:scroll;">                  
                  {% for kurssi in kurssit %}
                  <li class="list-group-item">{{kurssi.nimi}}</li>
                  {% endfor %}
            </ul>
      </div>
</div>