<!DOCTYPE html>
<html>
      <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            
            {% block head %}
            {% endblock %}

            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>  

            <title>HOPS</title>
      </head>
      <body>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                  <a class="navbar-brand" href={% url 'home' %}>HOPS-TAU</a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                  </button>
                  
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        {% if user.is_authenticated %}
                        <ul class="navbar-nav mr-auto">
                              <li class="nav-item">
                                    <a class="nav-link" href={% url 'aikataulu' %}>Aikataulu</a>
                              </li>
                              <li class="nav-item">
                                          <a class="nav-link" href={% url 'lista' %}>Lista</a>
                                    </li>
                              {% if perms.poll.change_poll %} <!-- Näytetään vain adminille -->
                              {% if perms.poll.delete_poll %}
                              <li class="nav-item">
                                    <a class="nav-link" href={% url 'load_data' %}>Lataa data</a>
                              </li>
                              <li class="nav-item">
                                    <a class="nav-link" href={% url 'delete_data' %}>Tyhjää tietokanta</a>
                              </li>
                              <li class="nav-item">
                                    <a class="nav-link" href="/admin/">Admin</a>
                              </li>
                              {% endif %}
                              {% endif %}
                              <!--li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Dropdown
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                              </li-->
                        </ul>
                        <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
                              <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Opintovuotesi: {{opintovuosi}}</a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                          <form action={% url 'oma_vuosi' %} method="POST">
                                                {% csrf_token %}
                                                <button class="dropdown-item" type="submit" name="vuosi" value=1>1. vuosi</button>
                                                <button class="dropdown-item" type="submit" name="vuosi" value=2>2. vuosi</button>
                                                <button class="dropdown-item" type="submit" name="vuosi" value=3>3. vuosi</button>
                                                <button class="dropdown-item" type="submit" name="vuosi" value=4>4. vuosi</button>
                                                <button class="dropdown-item" type="submit" name="vuosi" value=5>5. vuosi</button>
                                                <button class="dropdown-item" type="submit" name="vuosi" value=6>6. vuosi</button>
                                          </form>
                                    </div>
                              </li>

                              <a href={% url 'logout' %} class="btn btn-outline-danger" role="button" aria-pressed="true">Kirjaudu ulos</a>
                              
                        </ul>
                        {% endif %}
                  </div>
            </nav>
            <br>
            

            {% block content %}
            {% endblock %}
            <br><br><br><br>

      </body>
</html>