{% extends 'base.html' %}

{% block content %}

<div class="d-flex justify-content-center">
      <div class="px-2">
            <div class="card" style="width: 60rem;">
                  <h5 class="card-header">Tervetuloa {{user.username}}!</h5>
                  <div class="card-body">
                        <p>
                              Suunnittele oma henkilökohtainen opintosuunnitelmasi (HOPS)! Huomaa valita opintovuotesi yläpalkista, jotta aikataulut näkyvät oikein.
                              <br><br><br>
                              Listavälilehti: Valitse kursseja ja suunnittele opintojen aikataulu.<br>
                              Aikatauluvälilehti: Tarkastele kurssien suoritusaikataulua ja opinnoissa edistymistäsi.
                              <br><br>
                              Kurssitarjonta kattaa ainoastaan Tampereen yliopiston keskustan kampuksen opintojaksot.
                        </p>
                  </div>
            </div>
      </div>
</div>

{% endblock %}