{% extends 'base.html' %}

{% block content %}

<div class="d-flex justify-content-center">
      <div class="px-2">
            <div class="card" style="width: 60rem;">
                  <h5 class="card-header">Tervetuloa {{user.username}}!</h5>
                  <div class="card-body">
                        <p>
                              Selaa kurssitarjontaa ja lisää valitse kursseja omaan henkilökohtaiseen opintosuunnitelmaan (HOPS) Lista-välilehdeltä.
                              Muut ominaisuudet ovat vasta tulossa.

                              Kurssitarjonta kattaa ainoastaan Tampereen yliopiston keskustan kampuksen opintojaksot.
                        </p>
                  </div>
            </div>
      </div>
</div>

{% endblock %}