{% extends 'base.html' %}

{% block head %}
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>      
{% endblock %}

{% block content %}

<div class="d-flex justify-content-center">
      <div class="px-2">
            <!--Ilmoitus onnistuneesta kurssin lisäyksestä-->
            {% if lisays_onnistui == True%}
            <script>
                  setTimeout(function(){ document.getElementById("alert").innerHTML = ""; }, 4000);
            </script>
            <div id="alert">
                  <div class="card" style="width: 60rem;">
                        <h5 class="card-header text-center bg-success">Kurssi lisätty omiin kursseihin</h5>
                  </div>
                  <br>
            </div>
            {% elif lisays_onnistui == False %}
            <!--Ilmoitus onnistuneesta kurssin poistosta-->
            <script>
                  setTimeout(function(){ document.getElementById("alert").innerHTML = ""; }, 4000);
            </script>
            <div id="alert">
                  <div class="card" style="width: 60rem;">
                        <h5 class="card-header text-center bg-danger">Kurssi on jo omissa kursseissa</h5>
                  </div>
                  <br>
            </div>
            {% endif %}
            
            <!--Perusopinnot-->
            <div class="card border-secondary" style="width: 60rem;">
                  <h5 class="card-header d-flex bg-secondary text-white">
                        <div class="mr-auto">Perusopinnot</div>
                        {% if perusopinnot.1 == None %}
                        0
                        {% elif perusopinnot.1 == perusopinnot.2 %}
                        {{perusopinnot.2}}
                        {% else %}
                        {{perusopinnot.1}}–{{perusopinnot.2}}
                        {% endif %}op.
                  </h5>
                  <div class="card-body">
                        <ul class="list-group list-group-flush">                  
                        {% for kurssi in perusopinnot.0 %}
                              {% include 'chosen_courses.html' %}
                        {% endfor %}
                        </ul>
                  </div>
            </div><br>
            <!--Pääaine-->
            <div class="card border-secondary" style="width: 60rem;">
                  <h5 class="card-header d-flex bg-secondary text-white">
                        <div class="mr-auto">Pääaine</div>                  
                        {% if pääaine.1 == None %}
                        0
                        {% elif pääaine.1 == pääaine.2 %}
                        {{pääaine.2}}
                        {% else %}
                        {{pääaine.1}}–{{pääaine.2}}
                        {% endif %}op.
                  </h5>
                  <div class="card-body">
                        <ul class="list-group list-group-flush">                  
                        {% for kurssi in pääaine.0 %}
                              {% include 'chosen_courses.html' %}
                        {% endfor %}
                        </ul>
                  </div>
            </div><br>
            <!--Sivuaine-->
            <div class="card border-secondary" style="width: 60rem;">
                  <h5 class="card-header d-flex bg-secondary text-white">
                  <div class="mr-auto">Sivuaine</div>
                  {% if sivuaine.1 == None %}
                  0
                  {% elif sivuaine.1 == sivuaine.2 %}
                  {{sivuaine.2}}
                  {% else %}
                  {{sivuaine.1}}–{{sivuaine.2}}
                  {% endif %}op.
                  </h5>
                  <div class="card-body">
                        <ul class="list-group list-group-flush">                  
                        {% for kurssi in sivuaine.0 %}
                              {% include 'chosen_courses.html' %}
                        {% endfor %}
                        </ul>
                  </div>
            </div><br>
            <!--Täydentävät opinnot-->
            <div class="card border-secondary" style="width: 60rem;">
                  <h5 class="card-header d-flex bg-secondary text-white">
                  <div class="mr-auto">Täydentävät opinnot</div>
                  {% if vapaasti_valittavat.1 == None %}
                  0
                  {% elif vapaasti_valittavat.1 == vapaasti_valittavat.2 %}
                  {{vapaasti_valittavat.2}}
                  {% else %}
                  {{vapaasti_valittavat.1}}–{{vapaasti_valittavat.2}}
                  {% endif %}op.
                  </h5>
                  <div class="card-body">
                        <ul class="list-group list-group-flush">                  
                        {% for kurssi in vapaasti_valittavat.0 %}
                              {% include 'chosen_courses.html' %}
                        {% endfor %}
                        </ul>
                  </div>
            </div>
            
      </div>
      <!--kurssien lisäyspaneeli-->
      <div class="px-2">
            <div class="card" style="width: 25rem; height: 45rem;">
                        
                  <div class="card-header">
                        <h5>Kurssitarjonta</h5>
                        <form class="form-inline my-2 my-lg-0" method="GET">
                              <input class="form-control mr-sm-2" type="search" name="name_q" placeholder=Etsi aria-label="Search">
                              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Etsi</button>
                        </form>
                        {% if haku != None %}
                        <br>
                        <p>Hakusanalla "{{haku}}" löytyi {{tuloksia}} hakutulosta.</p>
                        {% endif %}
                  </div>
                  <ul class="list-group list-group-flush" style="overflow:hidden; overflow-y:scroll;">                  
                        {% for kurssi in kurssit %}
                        <li class="list-group-item p-2">
                              <form action="add" method="post">
                                    {% csrf_token %}
                                    <div class="form-goup">
                                          <button class="btn btn-outline-success align-middle mr-2" name="add" value={{kurssi.tunniste}}>+</button> 
                                          <label class="align-middle pt-1" style="width: 18rem">{{kurssi.nimi}}</label>
                                    </div>
                              </form>
                        </li>
                        {% endfor %}
                  </ul>
            </div>
      </div>
</div>
{% endblock %}