{% extends 'base.html' %}

{% block title %}
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
{% endblock %}

{% block content %}

<div class="d-flex justify-content-center">
      <div class="px-2">
            {% if lisays_onnistui == True%}
            <script>
                  setTimeout(function(){ document.getElementById("alert").innerHTML = ""; }, 4000);
            </script>
            <div id="alert">
                  <div class="card" style="width: 60rem;">
                        <h5 class="card-header text-center bg-success">Kurssi lisätty omiin kursseihin</h5>
                  </div>
                  <br>
            </div>
            {% elif lisays_onnistui == False %}
            <script>
                  setTimeout(function(){ document.getElementById("alert").innerHTML = ""; }, 4000);
            </script>
            <div id="alert">
                  <div class="card" style="width: 60rem;">
                        <h5 class="card-header text-center bg-danger">Kurssi on jo omissa kursseissa</h5>
                  </div>
                  <br>
            </div>
            {% endif %}

            <div class="card" style="width: 60rem;">
                  <h5 class="card-header">Valitsemasi kurssit</h5>
                  <div class="card-body">
                        <ul class="list-group list-group-flush">                  
                        {% for kurssi in valitut %}
                        <li class="list-group-item p-2">
                              <label class="flex-grow-1 bd-highlight pt-2 m-0">
                                    {{kurssi.kurssi}}
                                    {% if kurssi.kurssi.nopat_min == kurssi.kurssi.nopat_max %}
                                    ({{kurssi.kurssi.nopat_min}}
                                    {% else %}
                                    ({{kurssi.kurssi.nopat_min}}–{{kurssi.kurssi.nopat_max}}
                                    {%endif%}op.)
                              </label>
                              <div class="d-flex justify-content-end mt-2">
                                    <!--vuoden valinta-->
                                    <label class="mr-1 mt-1">Vuosi:</label>
                                    <form class="mr-2" action="change_year" method="post">
                                          {% csrf_token %}
                                          <select class="form-control form-control-sm" name="vuosi" id="select_year_{{kurssi.kurssi.tunniste}}" onchange="this.form.submit()">
                                                      <option value=None></option>
                                                      <option value="1">1</option>
                                                      <option value="2">2</option>
                                                      <option value="3">3</option>
                                                      <option value="4">4</option>
                                                      <option value="5">5</option>
                                                      <option value="6">6</option>
                                                </select>
                                                <input name="kurssi" type="hidden" value={{kurssi.kurssi.tunniste}}>
                                          </form>
                                    <script>
                                          document.getElementById("select_year_{{kurssi.kurssi.tunniste}}").value ="{{kurssi.opinto_vuosi}}";
                                    </script>

                                    <!--periodin valinta-->
                                    <label class="mr-1 mt-1">Periodi:</label>
                                    <form class="mr-auto" action="select_period" method="post">
                                          {% csrf_token %}
                                          <select class="form-control form-control-sm" name="periodi" id="periodi{{kurssi.kurssi.tunniste}}" onchange="this.form.submit()">
                                                <option value=None></option>
                                                {% for periodi in kurssi.kurssi.get_periodit %}
                                                <option value={{periodi}}>{{periodi}}</option>
                                                {% endfor %}
                                          </select>
                                          <input name="kurssi" type="hidden" value={{kurssi.kurssi.tunniste}}>
                                    </form>
                                    <script>
                                          document.getElementById("periodi{{kurssi.kurssi.tunniste}}").value ="{{kurssi.periodi}}";
                                    </script>

                                    <!--kurssin poistaminen-->
                                    <form action="remove" method="post">
                                          {% csrf_token %}
                                          <button class="btn btn-outline-danger" name="remove" value={{kurssi.kurssi.tunniste}}>Poista</button> 
                                    </form>
                              </div>

                        </li>
                        {% endfor %}
                        </ul>
                  </div>
            </div>
      </div>
      <!--kurssien lisäyspaneeli-->
      {% include 'add_course.html' %}
</div>
{% endblock %}