{% extends 'base.html' %}

{% block head %}    
{% endblock %}

{% block content %}

<div class="d-flex justify-content-center">
      <div class="px-2">
            <!--Ilmoitus onnistuneesta kurssin lisäyksestä-->
            {% if lisays_onnistui == True%}
            <script>
                  setTimeout(function(){ document.getElementById("alert").innerHTML = ""; }, 4000);
            </script>
            <div id="alert">
                  <div class="card" style="width: 60rem;">
                        <h5 class="card-header text-center bg-success">Kurssi lisätty omiin kursseihin</h5>
                  </div>
                  <br>
            </div>
            {% elif lisays_onnistui == False %}
            <!--Ilmoitus onnistuneesta kurssin poistosta-->
            <script>
                  setTimeout(function(){ document.getElementById("alert").innerHTML = ""; }, 4000);
            </script>
            <div id="alert">
                  <div class="card" style="width: 60rem;">
                        <h5 class="card-header text-center bg-danger">Kurssi on jo omissa kursseissa</h5>
                  </div>
                  <br>
            </div>
            {% endif %}
            
            <!--Perusopinnot-->
            <div class="card border-secondary" style="width: 60rem;">
                  <h5 class="card-header d-flex bg-secondary text-white">
                        <div class="mr-auto">Perusopinnot</div>
                        {% if nopat.perusopinnot.kurssi__nopat_min__sum == None %}
                        0
                        {% elif nopat.perusopinnot.kurssi__nopat_min__sum == nopat.perusopinnot.kurssi__nopat_max__sum %}
                        {{nopat.perusopinnot.kurssi__nopat_min__sum}}
                        {% else %}
                        {{nopat.perusopinnot.kurssi__nopat_min__sum}}–{{nopat.perusopinnot.kurssi__nopat_max__sum}}
                        {% endif %}op.
                  </h5>
                  <div class="card-body">
                        <ul class="list-group list-group-flush">                  
                        {% for kurssi in valitut.perusopinnot %}
                              {% include 'chosen_courses.html' %}
                        {% endfor %}
                        </ul>
                  </div>
            </div><br>
            <!--Pääaine-->
            <div class="card border-secondary" style="width: 60rem;">
                  <h5 class="card-header d-flex bg-secondary text-white">
                        <div class="mr-auto">Pääaine</div>                  
                        {% if nopat.pääaine.kurssi__nopat_min__sum == None %}
                        0
                        {% elif nopat.pääaine.kurssi__nopat_min__sum == nopat.pääaine.kurssi__nopat_max__sum %}
                        {{nopat.pääaine.kurssi__nopat_min__sum}}
                        {% else %}
                        {{nopat.pääaine.kurssi__nopat_min__sum}}–{{nopat.pääaine.kurssi__nopat_max__sum}}
                        {% endif %}op.
                  </h5>
                  <div class="card-body">
                        <ul class="list-group list-group-flush">                  
                        {% for kurssi in valitut.pääaine %}
                              {% include 'chosen_courses.html' %}
                        {% endfor %}
                        </ul>
                  </div>
            </div><br>
            <!--Sivuaine-->
            <div class="card border-secondary" style="width: 60rem;">
                  <h5 class="card-header d-flex bg-secondary text-white">
                  <div class="mr-auto">Sivuaine</div>
                  {% if nopat.sivuaine.kurssi__nopat_min__sum == None %}
                  0
                  {% elif nopat.sivuaine.kurssi__nopat_min__sum == nopat.sivuaine.kurssi__nopat_max__sum %}
                  {{nopat.sivuaine.kurssi__nopat_min__sum}}
                  {% else %}
                  {{nopat.sivuaine.kurssi__nopat_min__sum}}–{{nopat.sivuaine.kurssi__nopat_max__sum}}
                  {% endif %}op.
                  </h5>
                  <div class="card-body">
                        <ul class="list-group list-group-flush">                  
                        {% for kurssi in valitut.sivuaine %}
                              {% include 'chosen_courses.html' %}
                        {% endfor %}
                        </ul>
                  </div>
            </div><br>
            <!--Täydentävät opinnot-->
            <div class="card border-secondary" style="width: 60rem;">
                  <h5 class="card-header d-flex bg-secondary text-white">
                  <div class="mr-auto">Täydentävät opinnot</div>
                  {% if nopat.vapaat.kurssi__nopat_min__sum == None %}
                  0
                  {% elif nopat.vapaat.kurssi__nopat_min__sum == nopat.vapaat.kurssi__nopat_max__sum %}
                  {{nopat.vapaat.kurssi__nopat_min__sum}}
                  {% else %}
                  {{nopat.vapaat.kurssi__nopat_min__sum}}–{{nopat.vapaat.kurssi__nopat_max__sum}}
                  {% endif %}op.
                  </h5>
                  <div class="card-body">
                        <ul class="list-group list-group-flush">                  
                        {% for kurssi in valitut.vapaat %}
                              {% include 'chosen_courses.html' %}
                        {% endfor %}
                        </ul>
                  </div>
            </div>
            
      </div>
      <!--kurssien lisäyspaneeli-->
      <div class="px-2">
            <div class="card" style="width: 25rem; height: 45rem;">
                        
                  <div class="card-header">
                        <h5>Kurssitarjonta</h5>
                        <form class="form-inline my-2 my-lg-0" method="GET">
                              <input class="form-control mr-sm-2" type="search" name="name_q" placeholder=Etsi aria-label="Search">
                              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Etsi</button>
                        </form>
                        {% if haku != None %}
                        <br>
                        <p>Hakusanalla "{{haku}}" löytyi {{tuloksia}} hakutulosta.</p>
                        {% endif %}
                  </div>
                  <ul class="list-group list-group-flush" style="overflow:hidden; overflow-y:scroll;">                  
                        {% for kurssi in kurssit %}
                        <li class="list-group-item p-2">
                              <form action="add" method="post">
                                    {% csrf_token %}
                                    <div class="form-goup">
                                          <button class="btn btn-outline-success align-middle mr-2" name="add" value={{kurssi.koodi}}>+</button> 
                                          <label class="align-middle pt-1" style="width: 18rem">{{kurssi.nimi}}</label>
                                    </div>
                              </form>
                        </li>
                        {% endfor %}
                  </ul>
            </div>
      </div>
</div>
{% endblock %}