{% extends 'base.html' %}

{% block head %}
<link type="text/css" href="/static/gantt-oma.css" rel="stylesheet" />
<link type="text/css" href="/static/bars.css" rel="stylesheet" />
{% endblock %}

{% block content %}
<script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
<!--script type="text/javascript" src="http://static.mentful.com/gantt-chart-d3v2.js"></script-->


<div class="d-flex justify-content-center"></div>
      <!--gantt-kaavio otsikko -->
      <div class="d-flex justify-content-center mb-3">
            <div class="px-2">
                  <div class="card" style="width: 80rem;">
                        <h5 class="card-header bg-secondary text-white">Aikataulutetut kurssit</h5>
                        <div class="card-body" id="div-gantt">
                              <!--gantt-kaavio-->
                              <script>
                                    var names = {{nimet|safe}};
                                    var valitut = {{valitut|safe}};
                              </script>
                              <script type="text/javascript" src="/static/d3gantt.js"></script>
                              <script type="text/javascript" src="/static/gantt.js"></script>
                              <!-- tooltip kurssin tarkemmat tiedot-->
                              <div id="tooltip" class="tooltip" style="opacity: 0">
                                    <span id="tooltip-name"></span>: min <span id="tooltip-nopat"></span>op.
                                    <br>
                                    <span id="tooltip-start-day">
                                    </span>.<span id="tooltip-start-month">
                                    </span>.<span id="tooltip-start-year">
                                    </span> – <span id="tooltip-end-day">
                                    </span>.<span id="tooltip-end-month">
                                    </span>.<span id="tooltip-end-year"></span>
                              </div>
                        </div>
                        <div class="ml-5 mb-2 ">
                        Vihreä: kurssi on suoritettu | 
                        Vaaleanvihreä: kurssi on käynnissä |
                        Punainen: kurssi alkaa myöhemmin
                        </div>
                  </div>

            </div>
      </div>

      <div class="d-flex justify-content-center">
            <!-- Opiskelutahti pylväskaavio -->
            <div class="card mr-2" style="width: 50rem;">
                  <h5 class="card-header bg-secondary text-white">Vuosittainen opintokuorma (op.)</h5>
                  <div class="card-body" id="bar-chart"></div>
                  <script>                        
                        var nopat = {{noppia|safe}};
                        var kuormaData=[
                              {State:'1. vuosi',total:nopat[0]},
                              {State:'2. vuosi',total:nopat[1]},
                              {State:'3. vuosi',total:nopat[2]},
                              {State:'4. vuosi',total:nopat[3]},
                              {State:'5. vuosi',total:nopat[4]},
                              {State:'6. vuosi',total:nopat[5]},
                        ];
                  </script>
                  <script src="/static/bars.js"></script>
            </div>

            <!-- Edistymisympyrä -->
            <div class="card" style="width: 29.5rem;">
                  <h5 class="card-header bg-secondary text-white">Opintoja suoritettuna (op.)</h5>
                  <div class="card-body" id="pie"></div>
                  <script>
                        var nopat = 0;
                        for(kurssi in tasks){ //tasks sisältää tiedot kaiksita valituista kursseista päivämäärineen. Alkuperäinen sijainti gantt.js
                              //Laskee jo päättyneiden kurssien nopat yhteen suoritetuiksi opinnoiksi.
                              if(tasks[kurssi].endDate < today){ //today muuttujassa tämä päivämäärä, muuttuja luotu tiedostossa gantt.js
                                    nopat += tasks[kurssi].nopat;
                              }
                        }
                        kandiin = 180 - nopat;
                        if(kandiin < 0){
                              kandiin = 0;
                              maisteriksi = 300 - nopat;
                              if(maisteriksi < 0){maisteriksi = 0;}
                        }else{
                              maisteriksi = 120;
                        }

                        var dataSet = [
                              {"legendLabel":"Suoritettu", "magnitude": nopat}, 
                              {"legendLabel":"Kandiin", "magnitude":kandiin}, 
                              {"legendLabel":"Maisteriksi", "magnitude":maisteriksi}, 
                        ]
                  </script>
                  <script src="/static/simple_pie.js"></script>
            </div>
      </div>
</div>

{% endblock %}