{% extends 'base.html' %}

{% block head %}
<link type="text/css" href="http://mbostock.github.io/d3/style.css" rel="stylesheet" />
<link type="text/css" href="/static/gantt-oma.css" rel="stylesheet" />
{% endblock %}

{% block content %}
<script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
<script type="text/javascript" src="http://static.mentful.com/gantt-chart-d3v2.js"></script>
<script>
      var names = {{nimet|safe}};
      var valitut = {{valitut|safe}};
</script>

<div class="d-flex justify-content-center"></div>
      <!--gantt-kaavio otsikko -->
      <div class="d-flex justify-content-center">
            <div class="px-2">
                  <div class="card" style="width: 80rem;">
                        <h5 class="card-header">Aikataulutetut kurssit</h5>
                  </div>
                  Vihreä: kurssi on suoritettu.
                  Vaaleanvihreä: kurssi on käynnissä.
                  Punainen: kurssi alkaa myöhemmin.
            </div>
      </div>
      <!--gantt-kaavio-->
      <script type="text/javascript" src="/static/gantt.js"></script>
      <div id="tooltip" class="tooltip" style="opacity: 0">
            <span id="tooltip-name"></span>
            <br>
            <span id="tooltip-start-day">
            </span>.<span id="tooltip-start-month">
            </span>.<span id="tooltip-start-year">
            </span> – <span id="tooltip-end-day">
            </span>.<span id="tooltip-end-month">
            </span>.<span id="tooltip-end-year"></span>
      </div>

      <div class="d-flex justify-content-center">
            <!-- Opiskelutahti pylväskaavio -->
            <div class="card mr-2" style="width: 50rem;">
                  <h5 class="card-header">Opiskelutahti vs. muut</h5>
                  <div class="card-body" id="bar-chart"></div>
            </div>
            <!-- Edistymisympyrä -->
            <div class="card" style="width: 29rem;">
                  <h5 class="card-header">Opintoja suoritettuna</h5>
                  <div class="card-body" id="pie"></div>
                  <script>
                        nopat = {{noppia}};
                        kandiin = 180 - {{noppia}};
                        if(kandiin < 0){
                              kandiin = 0;
                              maisteriksi = 300 - {{noppia}};
                              if(maisteriksi < 0){maisteriksi = 0;}
                        }else{
                              maisteriksi = 120;
                        }
                        var dataSet = [
                              {"legendLabel":"Suoritettu", "magnitude": nopat}, 
                              {"legendLabel":"Kandiin", "magnitude":kandiin}, 
                              {"legendLabel":"Maisteriksi", "magnitude":maisteriksi}, 
                        ]
                  </script>
                  <script src="/static/simple_pie.js"></script>
            </div>
      </div>
</div>

{% endblock %}